<footer>
    <div class="f-info mt-5">
        <div class="f-info-social">
           <a href="https://www.facebook.com/muzeem.saifi.9" class="social-link" target="_blank"> <i class="fa-brands fa-square-facebook"></i></a>
            <a href="https://www.instagram.com/mujeem_saif/"class="social-link" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
           <a href="https://www.linkedin.com/in/mr-mujeem-saif-964288224/?original_referer=https%3A%2F%2Fwww%2Egoogle%2Ecom%2F&originalSubdomain=in"class="social-link" target="_blank"> <i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="f-info-brand">&copy;Wonder Private limited</div>
        <div class="f-info-links">
            <a href="/privacy">privacy</a>
            <a href="/terms">term</a>
        </div>

    </div>
</footer>